<?php

// Set the configs to match your environment

// define('DB_HOST', 'mysql:host=localhost'); // use classic auth, comment otherwise
define('DB_HOST', 'mysql:unix_socket=/run/mysqld/mysqld.sock'); // use Unix socket and socket authentication, comment otherwise
define('DB_USER', 'user'); // if socket auth, 'user' should match your system user
define('DB_PASSWORD', ''); // if socket auth, no password needed
define('DB_NAME', 'db-name'); // give a name to your db
?>