---
// import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <div class="app-title">
    <svg
      width="96"
      height="96"
      viewBox="0 0 24 24"
      fill="none"
      stroke="#267A42"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-disc"
      ><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="3"
      ></circle></svg
    >
    <h1>{SITE_TITLE}</h1>
  </div>
  <button type="button" id="js-login-button" class="login-button">Login</button>
  <button type="button" id="js-register-button" class="register-button">Register</button>
</header>

<style>
  header {
    grid-area: app;
    z-index: 1;
    align-self: start;
    /*  */
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 4fr 1fr;
    /*  */
    padding-block-start: var(--size-base-m1);
    padding-inline: var(--size-base-0);
    margin-inline-start: 50px;
    /* background: tomato; */
  }
  .app-title {
    grid-column: 2;
    /* inline-size: fit-content; */
    justify-self: center;
    /*  */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    /*  */
    background: var(--color-white);
    box-shadow: var(--shadow-elevation-low);
    border-radius: var(--radius-round);
    border: var(--border-size-2) solid var(--color-black);
    padding-block: 2px;
    padding-inline: var(--size-base-0);
  }
  svg {
    inline-size: var(--size-base-0);
    block-size: var(--size-base-0);
    margin-inline-end: 1ch;
  }
  h1 {
    margin: 0;
    font-weight: 600;
    font-size: var(--size-base-0);
    line-height: var(--line-height-normal);
  }
  .login-button, .register-button {
    grid-column: 3;
    box-shadow: var(--shadow-elevation-low);
    border-radius: var(--radius-round);
    border: var(--border-size-2) solid var(--color-black);
    padding-block: 2px;
    padding-inline: var(--size-base-0);
    margin-inline-start: auto;
    color: var(--color-white);
    background-color: var(--color-primary);
  }
  .login-button.hidden, .register-button.hidden {
    display: none;
  }
</style>
