---
import "leaflet/dist/leaflet.css";
---

<div id="map"></div>
<style>
  #map {
    /* isolation: isolate; */
    inline-size: 100%;
    block-size: 100%;
  }
</style>
<script src="../scripts/use-map.ts"></script>
