#access {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  gap: 10px;
  a {
    border: 1px solid darkblue;
    border-radius: 5px;
    background-color: #d4efffd1;
    padding: 4px 15px 6px;
    color: darkblue;
    &.active {
      background-color: #d1e0ff;
      font-weight: 600;
    }
  }
  .avatar {
    position: relative;
    .avatar-image {
      border: none;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      padding: 0;
      background-color: crimson;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .avatar-menu {
      position: absolute;
      right: 0;
      transform: translateY(5px);
      box-shadow: black 0 10px 15px;
      background-color: light-dark(#ffffff, #242424);
      padding: 10px 15px;
      z-index: 401;
    }
  }
}
