body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: light-dark(#213547, #ffffffde);
  background-color: light-dark(#ffffff, #242424);
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2.4em;
  line-height: 1.1;
}
input,
textarea {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
}
button,
input[type="button"] {
  border-radius: 8px;
  border: 2px solid transparent;
  font-weight: 500;
  background-color: light-dark(#d4d6d6, #1a1a1a);
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: #646cff;
  }
}
button {
  padding: 0.8em 1.5em;
  font-size: 1.1em;
}
.error {
  padding: 0.3em 1em 0.5em;
  background-color: light-dark(#ffc1c1, #970000);
  color: light-dark(#970000, #fff8f8);
  text-align: center;
  font-size: 1.15em;
  font-weight: 600;
  font-variant: small-caps;
  letter-spacing: 0.03em;
}
