#autocomplete {
  position: relative;
  display: flex;
  input {
    width: 100%;
  }
  .list {
    position: absolute;
    top:50px;
    display: flex;
    flex-direction: column;
    background-color: light-dark(#ffffff, #242424);
    box-shadow: #000 0px 5px 15px;
    .datum {
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      border-bottom: 1px solid gray;
      &:hover {
        background-color: cadetblue;
      }
    }
  }
}
