header {
  padding: 1em;
  background-color: light-dark(#e9eeee, #111515);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    img {
      height: 2.5rem;
    }
    h1 {
      font-size: 1.6rem;
      font-weight: 600;
      margin: 0;
      color: light-dark(#1b4236, #a0d2c0);
    }
  }
}
