#page {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  main {
    padding: 1rem;
    &.simple-page {
      margin: 0 auto;
      h2,
      p {
        text-align: center;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
      }
    }
  }
}
