.add {
  position: absolute;
  z-index: 401;
  right: 1em;
  top: calc(100dvh - 60px - 1.5em);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel {
  padding: 15px;
  background-color: light-dark(#ffffff, #242424);
  display: flex;
  flex-direction: column;
  gap: 15px;
  .buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}
.centered {
  align-items: center;
}
