#trunks {
  .methods {
    display: flex;
    gap: 5px;
    label {
      display: flex;
      align-items: center;
    }
  }
  .values {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    input[type="number"] {
      width: 6em;
    }
  }
}
