#trunks {
  .methods {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 5px;
  }
  .values {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    input[type="number"] {
      width: 6em;
    }
  }
  .multi {
    .trunk {
      input[type="number"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }
      input[type="button"] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
